<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.elmboot.mapper.QueryMapper">

    <select id="listBusinessByBusinessName" parameterType="String" resultType="Business">
    select * from business where (businessName like concat('%',#{businessOrFoodName},'%')
    or (businessExplain like concat('%',#{businessOrFoodName},'%')))
    </select>

</mapper>